/* nav */

.nav {
  background-color: var(--dark-bg);
  color: var(--white);
  padding: 20px 0;
  border-bottom: 1px solid var(--dark-border);
}

.nav-row {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  column-gap: 30px;
  row-gap: 20x;
  flex-wrap: wrap;
}

.logo {
  color: var(--white);
  font-size: 24px;
  font-family: "Poppins-Regular", sans-serif;
  margin-right: auto;
}

.logo strong {
  font-family: "Poppins-Bold", sans-serif;
}

.nav-list {
  display: flex;
  align-items: center;
  font-family: "Poppins-Medium", sans-serif;
  flex-wrap: wrap;
  row-gap: 15px;
}

.nav-list-item {
  margin-right: 40px;
}

.nav-list-item:last-child {
  margin-right: 0;
}

.nav-list-item-link {
  position: relative;
  transition: all 0.5s ease;
}

.nav-list-item-link:hover {
  opacity: 0.8;
}

.nav-list-item-link-active::before {
  content: "";
  display: block;
  height: 2px;
  width: 100%;
  background-color: var(--accent);
  position: absolute;
  left: 0;
  top: 100%;
}
